<div class="head">
    <div class="headMain">
        <div class="headleft">
            <h1>Hi,<br>
                I'm <font color=#FA2759>Manuel</font> Bärlocher<br>
                Front End develop<font color=#2DFCD8>e</font>r
            </h1>

            <button>Contact me</button>
        </div>
        <div class="headright">
            <div class="headImgContainer">
                <img src="../../assets/img/MyPicture.jpg">
            </div>
        </div>
    </div>
    <div class="headDown">
        <img src="../../assets/img/arrow-down.png">
    </div>
</div>