<div class="head">
    <div class="headMain">
        <div class="headleft">
            <h1>Hi,<br>
                I'm <font color=#2DFCD8>Manuel</font> Bärlocher<br>
                Front End develop<font color=#FA2759>e</font>r
            </h1>

            <a href="#contactMe"><button >Contact me</button></a>
        </div>
        <div class="headright">
            <div class="headImgContainer">
                <img src="../../assets/img/MyPicture.jpg">
            </div>
        </div>
    </div>
    <div class="headDown">
        <a href="#mySkill"><img src="../../assets/img/arrow-down.png"></a>
    </div>
</div>