<div class="head">
    <div class="headMain">
        <div class="headleft">
            <h1>{{'head.hi' | translate }},<br>
                {{'head.im' | translate }} <font color=#2DFCD8>Manuel</font> Bärlocher<br>
                Front End {{'head.develop' | translate }}<font color=#FA2759>e</font>r
            </h1>

            <a href="#contactMe"><button >{{'head.contact' | translate }}</button></a>
        </div>
        <div class="headright">
            <div class="headImgContainer">
                <img src="../../assets/img/MyPicture.jpg">
            </div>
        </div>
    </div>
    <div class="headDown">
        <a href="#mySkill"><img src="../../assets/img/arrow-down.png"></a>
    </div>
</div>