<div id="footer" class="footer">
    <div class="footerLeftSide">
        <a routerLink="/imprint">Impressum - Legal Notice</a>
        <a routerLink="/data-protection">Data protection</a>
    </div>
    <div class="footerRightSide">
        <a target="_blank" href="https://www.linkedin.com/in/manuel-b%C3%A4rlocher-735872a1/"><img  src="../../assets/img/linkedin-box-fill.png"></a>
        <a  target="_blank" href="https://github.com/ManuelBaerlocher"><img src="../../assets/img/github-fill.png"></a>
    </div>
</div>
