<div id="contactMe" class="contactMe">
    <h1>Contact me.</h1>
    <div class="contactMeHead"><span> Get in touch via the form below, or by emailing </span><a
            href="mailto:hello@manuel.ch">hello@manuel.ch</a></div>
    <div class="contactMeInputSection">
        <div>
            <div class="contactMeInputContainer">
                <span>Name</span>
                <input placeholder="Enter your name">
            </div>
            <div class="contactMeInputContainer">
                <span>Email address</span>
                <input placeholder="Enter your name">
            </div>
            <div class="contactMeInputContainer">
                <span>Message</span>
                <textarea class="contactMeInputMessage" placeholder="Enter your message"></textarea>
            </div>
        </div>
        <div class="contactMeButton">
            <button>Send</button>
        </div>
    </div>
</div>