<div id="contactMe" class="contactMe">
    <h1>Contact me.</h1>
    <div class="contactMeHead"><span> Get in touch via the form below, or by emailing </span><a
            href="mailto:hello@manuel.ch">hello@manuel.ch</a></div>
    <form [formGroup]="contactForm" (ngSubmit)="sendMail()" class="contactMeInputSection" accept-charset="UTF-8">

        <div class="contactMeInputContainer">
            <label for="name">Name</label>
            <input id="name" formControlName="name" required="required" type="text" placeholder="Enter your name">
        </div>
        <div class="contactMeInputContainer">
            <label for="mail">Email address</label>
            <input id="mail" formControlName="mail" required="required" placeholder="Enter your mail">
        </div>
        <div class="contactMeInputContainer">
            <label for="message">Message</label>
            <textarea id="message" formControlName="message" required="required" class="contactMeInputMessage"
                placeholder="Enter your message"></textarea>
        </div>

        <button id="submitButton" class="contactMeButton">Submit</button>
    </form>
    <span class="contactMeHead" id="afterSendMail"></span>
</div>