<div class="aboutMe">
    <div class="aboutMeFirstSection">
        <div class="aboutMeFirstLeftContainer">
            <div class="aboutMeImgContainer">
                <img src="../../assets/img/MyPicture.jpg">
            </div>
        </div>
        <div class="aboutMeFirstRightContainer">
            <h2>About me.</h2>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam commodi dolorum pariatur id voluptatem
                magni! Laboriosam esse rem dolor, repellendus explicabo ad, ratione earum harum inventore reiciendis
                accusantium modi quae?</span>
        </div>
    </div>
    <div class="aboutMeLine">

    </div>
    <div class="aboutMeLastContainer">
        <div class="aboutMeLastContainerSection">
            <div class="aboutMeLastContainerImg">
                <img src="../../assets/img/walk-line.png">
            </div>
            <span class="aboutMeLastContainerSectionTitle">MY JOURNEY BEGAN</span>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptate tempora quibusdam ad
                repellendus incidunt, temporibus molestiae maiores, ex possimus praesentium explicabo, deserunt
                aspernatur! Ullam nobis esse amet dolorum soluta.</span>
        </div>
        <div class="aboutMeLastContainerSection">
            <div class="aboutMeLastContainerImg">
                <img src="../../assets/img/heart-line.png">
            </div>
            <span class="aboutMeLastContainerSectionTitle">MY JOURNEY BEGAN</span>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptate tempora quibusdam ad
                repellendus incidunt, temporibus molestiae maiores, ex possimus praesentium explicabo, deserunt
                aspernatur! Ullam nobis esse amet dolorum soluta.</span>
        </div>
        <div class="aboutMeLastContainerSection">
            <div class="aboutMeLastContainerImg">
                <img src="../../assets/img/search-line.png">
            </div>
            <span class="aboutMeLastContainerSectionTitle">MY JOURNEY BEGAN</span>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptate tempora quibusdam ad
                repellendus incidunt, temporibus molestiae maiores, ex possimus praesentium explicabo, deserunt
                aspernatur! Ullam nobis esse amet dolorum soluta.</span>
        </div>
        <div class="aboutMeLastContainerSection">
            <div class="aboutMeLastContainerImg">
                <img src="../../assets/img/flight-takeoff-line.png">
            </div>
            <span class="aboutMeLastContainerSectionTitle">MY JOURNEY BEGAN</span>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptate tempora quibusdam ad
                repellendus incidunt, temporibus molestiae maiores, ex possimus praesentium explicabo, deserunt
                aspernatur! Ullam nobis esse amet dolorum soluta.</span>
        </div>
    </div>
</div>