<div id="mySkill" class="mySkill">
    <h2>{{'skills.title' | translate }}</h2>
    <div class="skillsContainer">
        <div class="skillClass">
            <div class="skillImg">
                <img src="../../assets/img/java script.png">
            </div>
            <div class="skillTextBox">
                <span>Java script</span>
            </div>
        </div>
        <div class="skillClass">
            <div class="skillImg">
                <img src="../../assets/img/angular.png">
            </div>
            <div class="skillTextBox">
                <span>Angular</span>
            </div>
        </div>
        <div class="skillClass">
            <div class="skillImg">
                <img src="../../assets/img/htmlcss.png">
            </div>
            <div class="skillTextBox">
                <span>HTML / CSS</span>
            </div>
        </div>
        <div class="skillClass">
            <div class="skillImg">
                <img src="../../assets/img/scrum.png">
            </div>
            <div class="skillTextBox">
                <span>SCRUM</span>
            </div>
        </div>
        <div class="skillClass">
            <div class="skillImg">
                <img src="../../assets/img/git.png">
            </div>
            <div class="skillTextBox">
                <span>Git</span>
            </div>
        </div>
        <div class="skillClass">
            <div class="skillImg">
                <img src="../../assets/img/design.png">
            </div>
            <div class="skillTextBox">
                <span>{{'skills.design' | translate }}</span>
            </div>
        </div>
        <div class="skillClass">
            <div class="skillImg">
                <img src="../../assets/img/api.png">
            </div>
            <div class="skillTextBox">
                <span>Rest API</span>
            </div>
        </div>
        <div class="skillClass">
            <div class="skillImg">
                <img src="../../assets/img/test.png">
            </div>
            <div class="skillTextBox">
                <span>{{'skills.test' | translate }}</span>
            </div>
        </div>
        <div class="skillClass">
            <div class="skillImg">
                <img src="../../assets/img/database.png">
            </div>
            <div class="skillTextBox">
                <span>{{'skills.database' | translate }}</span>
            </div>
        </div>

    </div>
</div>