<div class="myWork">
    <h2>MY work</h2>
    <div class="myWorkButtons">
        <button>All</button>
        <button class="selectButton">Angular</button>
        <button>Java Script</button>
    </div>
    <div class="myWorkContainers">
        <div class="myWorkContainer">
            <img src="../../assets/img/laptop.jpg">
        </div>
        <div class="myWorkContainer">
            <div class="myWorkSelectContainer">
                <span class="SelectContainerTitle">EL Pollo Loco</span>
                <span>JavaScript -based jump and run game.</span>
                <button>Try out</button>
            </div>
            <img src="../../assets/img/laptop.jpg">
        </div>
        <div class="myWorkContainer">
            <img src="../../assets/img/laptop.jpg">
        </div>
        <div class="myWorkContainer">
            <img src="../../assets/img/laptop.jpg">
        </div>
    </div>
</div>